body{
	background-color: #fffff0;
}
ul p{
	color: #4e1609;
}
.information, .information p{
	color: #353839;
}
.facts, .facts p{
	color: #003399;
}
p{
	color: ##353839;
	text-align: justify;
}
a{
	text-decoration: none;
	color: #0000CC;
	font: 20px "monotype corsiva" ;
}
a:hover {
    border-bottom: 1px solid gray; 
}
h1, h2{
	text-align: center;
	color: #008c8c;
}
h1{
	font-style: italic;
}
table{
	width: 600px;
	text-align: right;
}