.menu{
	display: flex;			
	background-color: #00693E;
	justify-content: center;
}
.menu a{			
	padding: 10px;
	width: 100px;
	
	text-align: center;
	vertical-align	: middle;
	text-decoration: none;
	color: white;
	font: 15px Arial;
}
.menu a:hover, #menu a.active {
	background-color: #47A76A;		
}
h1{
	font: 50px Arial;
	text-align: center;
}
#mp{
	text-align: center;
}