#wrapper {
	width: 800px;
	margin: 50px auto;
}
.menu{
	display: flex;			
	background-color: #00693E;
	justify-content: center;
}
.menu a{			
	padding: 10px;
	width: 100px;
	
	text-align: center;
	vertical-align	: middle;
	text-decoration: none;
	color: white;
	font: 15px Arial;
}
.menu a:hover, #menu a.active {
	background-color: #47A76A;		
}
.menu .first_page{

}
h1{
	font: 50px Arial;
	text-align: center;
}
h2{
	font: 40px Arial;
	text-align: center;
}
#mp{
	text-align: center;
}
.text{
	font: 15px Arial;
	text-align: justify;
	line-height: 1.5;
	text-indent: 20px;
}
#facts{
	font: inherit;
	text-align: inherit;
	list-style:  none;
	padding-left: 0;
}
#caption{
	text-align: center;
}